body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #505d85;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

img{
  max-width: 40px;
  max-height: 40px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid white;
}

.container{
  max-width: none;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hourHeading{
  border: 2px solid #505d85;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #253670;
  background-size: cover;
  color: white;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour {
  background-color: #ffffff;
  color: #040414;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  border: 2px solid #505d85;
  color: black;
}

.present {
  background-color: #ff6961;
  border: 2px solid #505d85;
  color: white;
}

.future {
  background-color: #77dd77;
  border: 2px solid #505d85;
  color: white;
}

.saveBtn {
  border: 2px solid #505d85;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #253670;
  color: white;
  content:url(../images/save-icon.png);
  transition: all 0.5s ease-in-out;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveBtn:focus {
  outline: none;
  background-color: #5f80eb;
  transition: all 0.5s ease-in-out;
}

#timeBlocks{
  justify-content: center;
  margin:10px;
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20% 20% 20% 20% 20%;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas: 
    "time0 userInput0 saveButton0"
    "time1 userInput1 saveButton1"
    "time2 userInput2 saveButton2"
    "time3 userInput3 saveButton3"
    "time4 userInput4 saveButton4"
    "time5 userInput5 saveButton5"
    "time6 userInput6 saveButton6"
    "time7 userInput7 saveButton7"
    "time8 userInput8 saveButton8"
    ;
}
